<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head><title></title></head>
    <body>
        <div th:fragment="header">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="logo"><h1>Texas Instruments - SCS GO</h1></div>
<!--                    <ul class="middle-nav">
                        <li><a href="#" class="btn btn-default"><i class="fa fa-comments-o"></i> <span>Support tickets</span></a><div class="label label-info">9</div></li>
                        <li><a href="#" class="btn btn-default"><i class="fa fa-bars"></i> <span>Statistics</span></a></li>
                        <li><a href="#" class="btn btn-default"><i class="fa fa-male"></i> <span>User list</span></a></li>
                        <li><a href="#" class="btn btn-default"><i class="fa fa-money"></i> <span>Billing panel</span></a></li>
                    </ul>-->
                </div>
            </div>   
        </div>
    </body>
</html>
