<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head><title></title></head>
    <body>
        <div th:fragment="sidebar">
            <div class="sidebar collapse">
                <ul class="navigation">
                    <li class="active"><a href="index.html"><i class="fa fa-laptop"></i> Dashboard</a></li>
                    <li><a href="index.html"><i class="fa fa-star"></i> Credits</a></li>
                </ul>
            </div>        
        </div>
    </body>
</html>
