<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SCS GO</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <script th:replace="fragments/head"/>
        <script type="text/javascript" src="js/dashboard.js"></script>

    </head>

    <body>
        <!-- Navbar -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <!-- /navbar -->


        <!-- Page header -->
        <div th:replace="fragments/header :: header"></div>
        <!-- /page header -->


        <!-- Page container -->
        <div class="page-container container-fluid">

            <!-- Sidebar -->
            <div th:replace="fragments/sidebar :: sidebar"></div>

            <!-- /sidebar -->


            <!-- Page content -->
            <div class="page-content">

                <!-- Page title -->
                <div class="page-title">
                    <h5><i class="fa fa-user-md"></i> Input</h5>
                </div>
                <!-- /page title -->
                <form class="mainForm" action="">
                    <!-- File upload -->
                    <fieldset>
                        <div class="widget">    
                            <div class="head"><h5 class="iUpload">File upload</h5></div>
                            <div id="uploader">You browser doesn't have HTML 4 support.</div>                    
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /page content -->

        </div>
        <!-- page container -->

    </body>
</html>
