<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SCS GO</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <script th:replace="fragments/script/general"/>
        <script th:replace="fragments/script/charts"/>
        <!--<script type="text/javascript" src="js/charts/stack_bars.js"></script>-->
        <!--<script type="text/javascript" src="js/charts/pie.js"></script>-->
        <script src="/js/reports.js" type="text/javascript"></script>
    </head>

    <body>
        <!-- Navbar -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <!-- /navbar -->


        <!-- Page header -->
        <div th:replace="fragments/header :: header"></div>
        <!-- /page header -->


        <!-- Page container -->
        <div class="page-container container-fluid">

            <!-- Sidebar -->
            <div th:replace="fragments/sidebar :: sidebar"></div>

            <!-- /sidebar -->


            <!-- Page content -->
            <div class="page-content">

                <!-- Page title -->
                <div class="page-title">
                    <h5><i class="fa fa-user-md"></i> Input</h5>
                </div>
                <!-- /page title -->

                <div class="fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title">Demand Breakdown</h6>
                        </div>
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li th:each="i : ${#numbers.sequence( 1, runCount)}" 
                                    th:classappend="${i}==1 ? active">
                                    <a data-toggle="tab"
                                       th:attr="ref=${i}"
                                       th:href="@{#toolbar-tab} + ${i}"
                                       th:text="W +${i}">W1</a>
                                </li>
                            </ul>

                            <div class="tab-content has-padding">
                                <div th:each="i : ${#numbers.sequence( 1, runCount)}" 
                                     th:id="toolbar-tab + ${i}"
                                     th:classappend="${i}==1 ? 'in active'"
                                     class="tab-pane">

                                    <ul class="row stats">
                                        <li class="col-xs-2"><a href="#" class="btn btn-default" th:id="manCnt + ${i}">52</a> <span >man count</span></li>
                                        <li class="col-xs-2"><a href="#" class="btn btn-default" th:id="eqCnt + ${i}">520</a> <span>equipment count</span></li>
                                        <li class="col-xs-2"><a href="#" class="btn btn-default" th:id="grpCnt + ${i}">48</a> <span>groupings</span></li>
                                        <li class="col-xs-3"><a href="#" class="btn btn-default" th:id="optManCnt + ${i}">14</a> <span class="small">optimal man count to maximize equipments</span></li>
                                        <li class="col-xs-3"><a href="#" class="btn btn-default" th:id="optManCntDmd + ${i}">14</a> <span class="small">optimal man count to maximize demand</span></li>
                                    </ul>

                                    <span th:id="file-lbl + ${i}"
                                          class="label label-info">Info</span>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Man Distribution</h6>
                                            <div class="btn-group pull-right">
                                                <button class="btn btn-sm btn-xs btn-icon" data-toggle="dropdown"><i class="fa fa-cogs"></i></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#">Filter</a></li>
                                                    <li><a href="#">Group</a></li>
                                                    <li><a href="#">Aggregate</a></li>
                                                    <li><a href="#">Just another cool function</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="graph-standard" th:id="man_dist + ${i}"></div>
                                        </div>
                                    </div>

                                    <!-- Vertical bars -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Demand Satisfied (qty)</h6>
                                            <div class="btn-group pull-right">
                                                <button class="btn btn-sm btn-xs btn-icon" data-toggle="dropdown"><i class="fa fa-cogs"></i></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#">Filter</a></li>
                                                    <li><a href="#">Group</a></li>
                                                    <li><a href="#">Aggregate</a></li>
                                                    <li><a href="#">Just another cool function</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="graph-standard" th:id="vertical_bars + ${i}"></div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Demand Balancing</h6>
                                            <div class="btn-group pull-right">
                                                <button class="btn btn-sm btn-xs btn-icon" data-toggle="dropdown"><i class="fa fa-cogs"></i></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#">Filter</a></li>
                                                    <li><a href="#">Group</a></li>
                                                    <li><a href="#">Aggregate</a></li>
                                                    <li><a href="#">Just another cool function</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="graph-standard" th:id="vertical_bars_pct + ${i}"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">Demand Equipment Manpower Pareto</h6>
                                                    <div class="btn-group pull-right">
                                                        <button class="btn btn-sm btn-xs btn-icon" data-toggle="dropdown"><i class="fa fa-cogs"></i></button>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#">Filter</a></li>
                                                            <li><a href="#">Group</a></li>
                                                            <li><a href="#">Aggregate</a></li>
                                                            <li><a href="#">Just another cool function</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="graph-standard" th:id="demp + ${i}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Default datatable inside panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h6 class="panel-title">Raw Data</h6></div>
                                        <div class="datatable">
                                            <table class="table" th:id="datatable + ${i}">
                                                <thead>
                                                    <tr>
                                                        <th>Group</th>
                                                        <th>Demand Quantity</th>
                                                        <th>Equipment Count</th>
                                                        <th>PPH</th>
                                                        <th>Equip per Person</th>
                                                        <th>Manpower Allocation</th>
                                                        <th>Equipment utilization</th>
                                                        <th>Demand Satisfied(units)</th>
                                                        <th>Demand Satisfied(pct)</th>
                                                        <th>Excess Manpower</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- /default datatable inside panel -->

                            </div> 
                            <!-- end tab-->

                        </div>
                    </div>
                </div>


                <div class="fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title">Trend</h6>
                            <div class="btn-group pull-right">
                                <button class="btn btn-sm btn-xs btn-icon" data-toggle="dropdown"><i class="fa fa-cogs"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Filter</a></li>
                                    <li><a href="#">Group</a></li>
                                    <li><a href="#">Aggregate</a></li>
                                    <li><a href="#">Just another cool function</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="graph-standard" id="line_trend"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /page content -->

        </div>
        <!-- page container -->

    </body>
</html>
