<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SCS GO</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <script th:replace="fragments/script/general"/>
        <script th:replace="fragments/script/charts"/>
        <script type="text/javascript" src="js/charts/stack_bars.js"></script>

    </head>

    <body>
        <!-- Navbar -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <!-- /navbar -->


        <!-- Page header -->
        <div th:replace="fragments/header :: header"></div>
        <!-- /page header -->


        <!-- Page container -->
        <div class="page-container container-fluid">

            <!-- Sidebar -->
            <div th:replace="fragments/sidebar :: sidebar"></div>

            <!-- /sidebar -->


            <!-- Page content -->
            <div class="page-content">

                <!-- Page title -->
                <div class="page-title">
                    <h5><i class="fa fa-user-md"></i> Input</h5>
                </div>
                <!-- /page title -->

                <!-- Vertical bars -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">Demand Satisfied (qty)</h6>
                    </div>
                    <div class="panel-body">
                        <div class="graph-standard" id="vertical_bars"></div>
                    </div>
                </div>
                <!-- /vertical bars -->



            </div>
            <!-- /page content -->

        </div>
        <!-- page container -->

    </body>
</html>
