<script type="text/javascript" src="js/plugins/charts/flot.js"></script>
<script type="text/javascript" src="js/plugins/charts/flot.stack.js"></script>
<script type="text/javascript" src="js/plugins/charts/flot.orderbars.js"></script>
<script type="text/javascript" src="js/plugins/charts/flot.pie.js"></script>
<script type="text/javascript" src="js/plugins/charts/flot.time.js"></script>
<script type="text/javascript" src="js/plugins/charts/flot.animator.min.js"></script>
<script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="js/plugins/charts/flot.resize.min.js"></script>